.input_form {
  display: flex;
  justify-content: left;
  margin-left: 100px;
  margin-top: 20px;
}

.input_form input {
  display: inline-flex;
  padding: 20px;
  margin-left: 8px;
  color: #000;
  border-radius:12px;
  box-shadow: 1px 4px 5px 1px #430;
  /* height: 50px; */
}

